<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="RecommenderOfTroubleshooters">
      </category>
      <view
            name="Recommender of Troubleshooters"
            icon="icons/sample.gif"
            category="RecommenderOfTroubleshooters"
            class="recommenderoftroubleshooters.views.RecommenderOfTroubleshootersView"
            id="recommenderoftroubleshooters.views.RecommenderOfTroubleshootersView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="recommenderoftroubleshooters.views.RecommenderOfTroubleshootersView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
